<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43256663922-cnpnklfmg6c26nio8bh1c5vp2rqv0qc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43256663922-cnpnklfmg6c26nio8bh1c5vp2rqv0qc5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43256663922-bf0r5dst9fj9qv1lola1ts4r7ssn5tg2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJORtam-OBsLm_GwcerXOIKnmSv2IX01g</string>
	<key>GCM_SENDER_ID</key>
	<string>43256663922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capturedHeart.connectMe</string>
	<key>PROJECT_ID</key>
	<string>connect-me-captured</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-me-captured.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:43256663922:ios:e631777a38b1ac127b17eb</string>
</dict>
</plist>
